:root {
  /* SRJC colors */
  --srjc-blue: #182952;
  --srjc-red: #801518;
  --light-gray: #e6e7e8;

  /* GAME colors */
  --rust: #c24744;
  --rust-50: rgba(194, 68, 66, 0.5);
  --rust-25: rgba(211, 67, 65, 0.25);
  --rust-dark: #924140;

  --purple: #2e234a;
  --purple-25: rgba(46, 35, 74, 0.25);
  --purple-50: rgba(46, 35, 74, 0.5);
  --gold: #ca9938;
  --tan: #d9a86c;
  --teal: #4c9ba8;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Pangolin&display=swap");

/* NOTE: I am trying to to make the app always fill the vertical height  */
html {
  background-color: var(--purple);
}

body {
  font-family: "Lato", sans-serif !important;
  font-weight: 300 !important;
  /*font-size: 1.75rem !important;*/
  width: 100vw;
  background-color: var(--purple);
}

/* NOTE: Thinking we should use this font more sparingly. Its kinda ugly when there's a lot of it actually.
h1,
h2,
h3,
h4 {
  font-family: "Pangolin", cursive;
}
*/

#root {
  background-color: var(--purple);
  color: var(--light-gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 100vw !important;
  justify-content: space-between;
}

.site-content {
  box-sizing: border-box;
  min-height: 100vh;
  flex: 1;
  min-width: 100vw !important;
  padding-top: 1.75rem;
}

@media screen and (min-width: 992px) and (hover: hover) {
  .site-content {
    min-height: 0;
    min-width: 0;
    transform: scale(.45);
    padding-top: 0rem;
    border-radius: 8px;
    
    position: relative;
    top: -25rem;
  }
/*
  .site-content.region-northwest {
      margin-top: 10rem;
      border: 1px solid var(--light-gray);
      box-shadow: -1px 1.25px 5px 1.25px black;
      padding: 2em;
    }*/

  .site-content.instructions {
    top: -23rem;
  }

  .site-content.trivia {
    top: -19rem !important;
  }

  .site-content.lesson {
    top: -30rem !important;
  }

  .site-content.about {
    margin-top: 10rem;
  }

  .site-content.aboutend {
    min-height: 200vh;
    margin-top: 10rem;
  }

  .site-content.california-game {
    margin-top: 6rem;
  }
  .site-content.southwest-game {
    margin-top: 0rem;
  }
  .site-content.greatplains-game {
    margin-top: 3rem;
  }
  .site-content.pnw-game {
    margin-top: 5rem;
  }
  .site-content.culture-today {
    margin-top: 4rem;
  }

  .custom-modal {
    transform: scale(.65) !important;
    position: relative;
    top: -10rem;
  }
}

@media screen and (min-width: 1515px) and (hover: hover) {
  .site-content.california-game {
    margin-top: 20rem;
  }
  .site-content.pnw-game {
    margin-top: 18rem;
  }
}
.site-content.southwest-game {
  margin-top: 0rem;
}
.site-content.greatplains-game {
  margin-top: 4rem;
}
.site-content.culture-today {
  margin-top: 5rem;
}

.custom-modal {
  transform: scale(.55) !important;
  position: relative;
  top: -17rem;
}

.instructions-modal {
  top: -12rem;
}

@media screen and (min-width: 1200px) and (hover: hover) {
  .site-content {
    transform: scale(.45);    
    top: -28rem;
  }
  .site-content.instructions {
    top: -25rem;
  }

  .site-content.trivia {
    top: -20rem !important;
  }

  .site-content.lesson {
    top: -30rem !important;
  }

  .site-content.about {
    margin-top: 16rem;
  }

  .site-content.aboutend {
    min-height: 200vh;
    margin-top: 7rem;
  }

  .site-content.california-game {
    margin-top: 11rem;
  }
 
}

/***NAV****/

.navigation {
  color: var(--purple) !important;
}

@media screen and (min-width: 992px) {
  .navigation, #basic-nav-dropdown {
    color: var(--light-gray) !important;
  }
}

.navigation .container {
  margin: 0;
}

.dropdown-toggle,
.dropdown-menu a {
  /*nav dropdown */
  color: var(--purple) !important;
}

.navbar-collapse.show .navbar-nav,
.navbar-collapse.collapsing .navbar-nav {
  /*NAVBAR not transparent when expanded*/
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid var(--purple);
  box-shadow: -0.75px 1.25px 3px var(--purple);
}

.navbar-toggler {
  /*background-color: var(--purple-50) !important; /*so the hamburger menu shows ontop of white bubbles*/
  box-shadow: -0.75px 1.25px 3px var(--purple-25);
}

#basic-nav-nav {
  position: absolute !important;
  /*z-index: 1;*/
}
/*get rid of Bootstrap Primary Blue focusing!*/
.dropdown-item:active {
  color: var(--purple) !important;
  background-color: #e9ecef !important;
}

/***HOME PAGE**/

/*round logo*/
.logo {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
}

/*trying out getting rid of footer

.footer {
  background-color: var(--srjc-red);
  border-top: white solid 4px;
  /*position: absolute;
  bottom: 0px;
  height: 100px;*/ /*
  min-width: 100vw !important;
}*/

.home.site-content {
  padding-top: 1em !important;
}
.home .speech-bubble {
  border: 5px solid var(--rust);
  padding: 1.5em 1em !important;
}

@media screen and (min-width: 576px) {
  .home .speech-bubble {
    padding: 2em 1.5em !important;
  }
}

.home h1 {
  padding: 0 !important;
}

.subtitle-home {
  font-weight: 300 !important;
}

.sub-heading-home {
  font-family: "Pangolin";
}

.not-onsite-info {
  border: 2px solid var(--teal);
  border-radius: 8px;
}

.home .teal-text button {
  color: var(--teal) !important;
}
.home .accordion-item,
.home .accordion-button,
.home .accordion-collapse.accordion-body {
  background-color: transparent;
  font-size: 1.25rem !important;
}

.home .accordion-header {
  padding: 0;
}

/*.home .bottom-section {
  max-width: 75%;
  position: relative;
  left: 7rem;
}*/


/*Responsive sizing for Mascot/Home page*/

.main-guide-img { /*xs*/
  max-width: 50% !important;
  position: relative;
  bottom: 14rem;
  left: .75rem;
  padding: 0 !important;
}


@media screen and (min-width: 576px) {  /*sm*/
  .main-guide-img {
    max-width: 40% !important;
    bottom: 20rem;
    left: 1.5rem;
  }
}

@media screen and (min-width: 630px) {  /*btwn sm & md*/
  .main-guide-img {
    max-width: 45% !important;
    bottom: 20rem;
    left: 1rem;
  }
}

@media screen and (min-width: 768px) {  /*md*/
  .main-guide-img {
    max-width: 45% !important;
    bottom: 24rem;
    left: 1.25rem;
  }
}

@media screen and (min-width: 992px) {  /*lg*/
  .main-guide-img {
    max-width: 50% !important;
    bottom: 25rem;
    left: 1.25rem;
  }
}


.next-btn {
  z-index: 100 !important;
}

/* =============== LAUREN'S SECTION ============================= */

.region {
  color: white;
  padding: 1.25rem;
  /*box-shadow: 5px 5px 4px 1px lightgrey;*/
  /*box-shadow: -0.75px 1.25px 3px var(--purple);*/
  border: 1px solid var(--purple);
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.region h1 {
  padding-bottom: 0 !important;
}

.region-h2-trivia {
  font-size: smaller;
  padding: 0.5rem 1rem !important;
  border: 2px solid white;
  border-radius: 100%;
  display: inline;
}

.region-california {
  background-color: var(--teal);
  color: white;
}

.region-southwest {
  background-color: var(--gold);
  color: white;
}

.region-greatplains {
  background-color: var(--rust);
  color: white;
}

.region-northwest {
  background-color: var(--purple);
  color: white;
}

.game-background {
  max-width: 90vh;
}


/* MATCHING CARD GAME CSS */

.bold {
  font-weight: 600;
  text-transform: uppercase;
}
.Matching {
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}
.Matching header {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}
.Matching header > div {
  /*made font bigger, adjusted width to fit on 1 line*/
  font-size: 2rem;
  /*width: 350px;*/
  text-align: center;
  margin: 0 auto;
}
.Matching footer {
  /*width: 360px;*/
  width: 650px;
  position: relative;
  margin: 0 auto;
  padding: 10px 0px;
  margin-top: 10px;
}
.Matching footer .score {
  justify-content: center;
  display: flex;
}
.Matching footer .score div {
  padding: 8px;
}
.Matching footer .restart {
  display: flex;
  justify-content: center;
}
.Matching .container {
  border: 1px solid #dedede;
  padding: 12px;
  box-shadow: 0 0 4px 4px #dedede;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
  margin: 0 auto;
  /*width: 500px;
  height: 420px;*/
  width: 70vw;
  height: 98vw;
  perspective: 100%;
  max-width: 720px;
}

@media screen and (min-width: 576px) {
  .Matching .container {
    width: 80vw;
    height: 66vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .Matching .container {
    width: 75vw;
    height: 60vw;

  }
}

@media screen and (min-width: 1060px) {
  .Matching .container {
    width: 75vw;
    height: 50vw;
  }
}

@media screen and (min-width: 1200px) {
  .Matching .container {
    width: 100vw;
    height: 45vw;
  }
}

@media screen and (min-width: 1400px) {
  .Matching .container {
    width: 100vw;
    height: 35vw;
  }
}



.Matching .card {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0) !important; /*transparent*/
  border-radius: 5px;
  box-shadow: -1px 2px 2px 0px #171717;
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid var(--gold);
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
}

.card-front-face {
  overflow: hidden;
}

.card-front-face img {
  height: auto !important;
}

.card .card-face {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.card .card-face.card-back-face {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card.is-flipped {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card.is-inactive {
  opacity: 0;
}

.matching-inst-modal-btn {
  position: relative;
}

/*********** SW potttery game section  *******/

.southwest-game.site-content {
  padding-top: 5rem !important;
}
.pottery-container svg { /*pattern color*/
  fill: rgb(66, 44, 25);
}

.box { /*hide pattern border & make pattern lay on top of other elements*/
  visibility: hidden;
  z-index: 99;
}

.box svg:first-child {
  visibility: visible !important; /*show pattern after hiding border*/
  width: 35px !important;
}

  
.pottery-container {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 70vh;
}
.pottery-container .col {
  margin: 0 0 0 2rem;
  padding: 0;
}

.pot-img {
  width: 95% !important;
  position: relative;
  bottom:-70px;
}


  /*pottery design meanings key*/

.pot-design-bank {
  overflow-x: scroll;
  padding: .5rem .5rem 2rem .5rem;
  background-color: var(--tan);
  border-radius: 6px;
  border: 3px solid rgb(66, 44, 25);
  margin: 0 auto !important;
}

.pot-design-card {
  color: black;
  font-size: 1rem;
  margin: 0 auto 0 auto !important;
  padding: .35em !important; 
  margin:20px;
}

.pot-design-card .card {
  height: 250px;
  padding: .75rem .75rem;
  border-radius: 6px;
  overflow-y: scroll;
}

.pot-design-card .card-body {
  font-size: 1rem;
}

.pot-design-card .card-img-top {
  max-height: 150px;
  max-width: auto;
}

/*responsive styling for patterns & pot image*/
@media screen and (min-width: 300px) {  /*xs*/
  .pottery-container .col {
    margin-left: 16%;
  }
  .pot-img {
    width: 95% !important;
    bottom:-100px;
  }
  .pot-reset {
    margin-top: 1rem;
  }
  .pot-design-card {
    font-size: 1.25rem;

  }
  .pot-design-card .card {
    padding: 1.5rem 1rem;
  }
}

@media screen and (min-width: 350px) {  /*xs*/
  .pottery-container .col {
    margin-left: 21%;
    margin-top:.5em;
  }
  
  .pot-img {
    width: 95% !important;
    bottom:-150px;
  }
  .pot-reset {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 430px) {  /*xs*/
  .pottery-container .col {
    margin-left: 25%;
  }
  .box svg:first-child {
    width: 40px !important;
  }
  .pot-img {
    width: 80% !important;
    bottom:-160px;
  }
  .pot-design-bank {
    padding: 1rem 1rem 2rem 1rem;
  }
}

@media screen and (min-width: 530px) {  /*xs*/
  .pottery-container .col {
    margin-left: 30%;
  }
  .box svg:first-child {
    width: 40px !important;
  }
  .pot-img {
    width: 75% !important;
    bottom:-170px;
  }
  .pot-reset {
    margin-top: 8rem;
  }

}

@media screen and (min-width: 576px) {  /*sm*/
  .pottery-container .col {
    margin-left: 31%;
    margin-top: 1em;
  }
  .box svg:first-child {
    width: 45px !important;
  }
  .pot-img {
    width: 88% !important;
    bottom:-200px;
  }
 
  .pot-design-bank {
    padding: 1.5rem;
  }
  .pot-reset {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 680px) {  /*sm*/
  .pottery-container .col {
    margin-left: 33%;
  }
  .pot-img {
    bottom:-250px;
  }
  .pot-reset {
    margin-top: 15rem;
  }

  
}

@media screen and (min-width: 768px) {  /*md*/
  .pottery-container .col {
    margin-left: 12%;
    margin-top: 1rem;
  }
  .box svg:first-child {
    width: 70px !important;
  }
  .pot-img {
    bottom:-160px;
  }
  .pot-reset {
    margin-top: 2rem;
  }
  .pot-design-bank {
    padding: 2rem 2rem 4rem 2rem;
  }
}

@media screen and (min-width: 915px) {  /*md*/
  .pottery-container .col {
    margin-left: 16%;
  }
  .pot-img {
    bottom:-150px;
  }
  .pot-reset {
    margin-top: 0;
  }
}

@media screen and (min-width: 992px) {  /*lg*/
  .pottery-container .col {
    margin-left: 20%;
    margin-top: 2rem;
  }
  .pot-img {
    bottom:-200px;
  }
  .pot-reset {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 992px) and (hover: hover) {  /*lg*/
  .pottery-container {
    height: 150vh;
  }
  .pottery-container .col {
    margin-left: 22%;
    margin-top: 2rem;
  }
  .pot-reset {
    margin-top: 0rem;
  }
  .pot-img {
    bottom:-130px;
  }
}

@media screen and (min-width: 1200px) {  /*xl*/
  .pottery-container .col {
    margin-left: 24%;
    margin-top: 2.75rem;
  }
  .pot-img {
    bottom:-210px;
  }
  .pot-reset {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1200px) and (hover: hover) {  /*xl*/
  .pottery-container .col {
    margin-left: 25%;
  }
  .pot-reset {
    margin-top: 0rem;
  }
  .pot-img {
    bottom:-150px;
  }
}

@media screen and (min-width: 1360px) {  /*xl-xxl*/
  .pottery-container .col {
    margin-left: 28%;
  }
  .pot-img {
    bottom:-260px;
  }
  .pot-reset {
    margin-top: 10em;
  }
}

@media screen and (min-width: 1360px) and (hover: hover) {  /*xl*/
  .pottery-container .col {
    margin-left: 28%;
  }
  .pot-reset {
    margin-top: 0rem;
  }
  .pot-img {
    bottom:-130px;
  }
}

@media screen and (min-width: 1500px) {  /*xxl*/
  .pottery-container .col {
    margin-left: 30%;
    margin-top: 2.75rem;
  }
  .pot-img {
    bottom:-330px;
  }
  .pot-reset {
    margin-top: 19rem;
  }
}

@media screen and (min-width: 1500px) and (hover: hover) {  /*xxl*/
  .pottery-container .col {
    margin-left: 28%;
    margin-top: 5rem;
  }
  .pot-reset {
    margin-top: 0rem;
  }
  .pot-img {
    bottom:-130px;
  }
}

/* GP Great plains feather game */

.bonnet-drop svg {
  width: 200px;
  height: auto;
}

.feather-container {
  background-color: var(--gold);
  overflow-x: scroll;
  max-height: 900px;
  padding: 1rem 1rem 3rem 2rem !important;
  margin: 0 auto 0 auto;
  border-radius: 6px;
  border: 1px solid var(--purple);
  font-size: 1rem;
 /* box-shadow: -.75px .75px 2px 0px var(--purple-50);*/
  display: flex;

}

.featherCard {
  color: black;
 /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  font-size: .75rem;
  margin: 0 auto 0 auto !important;
  padding: .25rem;

  width: 100%;

}

.feather-img {
  height: 5rem !important;
}

.featherCard .card {
  padding: .5rem;
}

.greatplains-game .showInstructions-btn {
  margin-top: 1rem;
  padding: 0 !important;
  position: relative;
  left: -3rem;
  bottom: -18rem;
}

.instr-btn-col {
  padding:0 !important;
}

@media screen and (min-width: 350px) {  /*xs*/
  .bonnet-drop svg {
    width: 250px;
    height: auto;
  }
  .greatplains-game .showInstructions-btn {
    position: relative;
    bottom: -20rem;
    left: -3.5rem;

  }
}
  @media screen and (min-width: 520px) {  /*xs*/
    .bonnet-drop svg {
      width: 330px;
      height: auto;
    }
    .greatplains-game .showInstructions-btn {
      position: relative;
      bottom: -22rem;
      left: -3.5rem;
  
    }
}

@media screen and (min-width: 576px) {  /*sm ***back to column view*/ 
  .bonnet-drop svg {
    width: 400px;
    height: auto;
  }
  .feather-img {
    height: 6rem !important;
  }
  .greatplains-game .showInstructions-btn {
    bottom: 5rem;
    left: 22rem;
  }
  .feather-container {
    background-color: var(--gold);
    overflow-x: hidden;
    overflow-y: scroll;
    /*margin: 0 1em 0 1em !important;*/
    padding: 1rem 2.75rem 1rem 1rem !important;
    display: block;
  }

}

@media screen and (min-width: 768px) {  /*md*/

  .bonnet-drop svg {
    width: 543px;
    height: 1020px;
  }

  .featherCard {
    width: 100%;
    font-size: 1.25rem !important;
  }
  .feather-img {
    height: 12rem !important;
  }

  .feather-container {
    overflow-y: scroll;
    padding: 1.25rem 3.25rem 1.25rem 1.25rem !important;
    
    display: initial;
  
  }
  .greatplains-game .showInstructions-btn {
    bottom: 3rem;
    left: 2rem;
  }
}

@media screen and (min-width: 992px) {  /*lg*/

}

/* =============== END LAUREN'S SECTION ============================= */

/* =============== ERIN'S SECTION ============================= */

/* || Utilities */
.bold-text {
  font-weight: bold !important;
}
.text-400 {
  font-weight: 400 !important;
}
.text-300 {
  font-weight: 300 !important;
}
.teal-text {
  color: var(--teal) !important;
}
.pangolin-font {
  font-family: "Pangolin" !important;
}
/* || All pages */
/*custom style BS BUTTONS*/
.btn-primary {
  color: #fff;
  background-color: var(--rust) !important;
  border-color: black !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--rust-dark) !important;
  border-color: black !important;
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--rust-dark) !important;
  border-color: black !important;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--rust-50) !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #fff;
  background-color: var(--rust);
  border-color: black !important;
  box-shadow: 0 0 0 0.25rem var(--rust-50) !important;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--rust-25);
}
/* || white text bubbles */
.speech-bubble {
  background-color: white;
  color: var(--purple);
  /*border: 2px solid var(--purple);*/
  border-radius: 10px;
  padding: 1.5em !important;
  margin: 1em auto 1em auto;
  box-shadow: -.75px .75px 2px 0px var(--purple);
  font-size: medium;
}

@media screen and (min-width: 460px) {  /* btwn xs & sm*/
  .speech-bubble {
    padding: 2em !important;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 996px) {  /* lg*/
  .speech-bubble {
    margin-top: 1em !important;
  }
  .instructions .speech-bubble, .trivia .speech-bubble {
    padding: 5rem !important;
    font-size: 2rem;
  }
}

.speech-bubble h1 {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.speech-bubble p,
.speech-bubble h2 {
  padding: 0.5em 0;
  margin: 0;
}

/********** || MODALS || ***********/
.custom-modal {
  max-width: 85% !important;
  margin: 2.5rem auto !important;
}

/*bs-react class*/
.modal-content {
  padding: 1rem !important;
}


/*instructions modal*/
.instructions-modal-subtitle {
  font-weight: 300;
}

.modal-img-mascot-instructions {
  display: block;
  width: 99%;
}

/*your done modal + try again modal + good job*/

.modal-urdone .modal-content {
  padding: 2em !important;
}

.modal-urdone .modal-body,
.modal-try-again .modal-body,
.modal-urdone .modal-header,
.modal-try-again .modal-header {
  padding: 3px;
}

.mascot-urdone,
.mascot-try-again,
.mascot-good-job {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 99%;
}

.mascot-good-job {
  width: 85%;
}

  /*matching- good job modal (unique bc of high-score)*/

.modal-matching .mascot-good-job {
  width: 75% !important;
}

.modal-footer img {
  position: relative;
  top: -1em;
}

.modal-high-score {
  /*matching done modal*/
  background-color: transparent;
  box-sizing: border-box;
  border: 0.5px solid var(--purple);
  border-radius: 6px;
  box-shadow: 0px 0px 6px 3px var(--gold);
}

  /*feather game modals*/

  /*modal media queries*/
@media screen and (min-width: 576px) {  /*sm*/
  .custom-modal {
    max-width: 65% !important;
    margin: 2.5rem auto !important;
  }
  .modal-content {
    padding: 2em !important;
  }
  .modal-matching .mascot-good-job {
    width: 65% !important;
  }
}

@media screen and (min-width: 768px) {  /*md*/
  .modal-matching .mascot-good-job {
    width: 55% !important;
  }
}

@media screen and (min-width: 992px) { /*lg*/
  .modal-content {
    padding: 3em !important;
  }
  .modal-matching .mascot-good-job {
    width: 45% !important;
  }
}
    /*desktop only*/
@media screen and (min-width: 992px) and (hover: hover) { /*lg*/
  .custom-modal.modal-matching, .custom-modal.trivia  {
    margin: 5.5rem auto !important;
  }
  .custom-modal.modal-feather {
    margin-top: 5rem !important;
  }
  .mascot-good-job {
    width: 65%;
  }
  .modal-img-mascot-instructions {
    width: 75% !important;
  }
}

@media screen and (min-width: 1200px) and (hover: hover) { /*xl*/
  .custom-modal.modal-matching, .custom-modal.trivia  {
    margin: 7.5rem auto !important;
  }
  .custom-modal.modal-feather {
    margin-top: 7rem !important;
  }
  .modal-content {
    padding: 3.5em !important;
  }
  .mascot-good-job {
    width: 65%;
  }
  .modal-img-mascot-instructions {
    width: 75% !important;
  }
  
}

@media screen and (min-width: 1400px) and (hover: hover) { /*xxl*/
  .custom-modal {
    max-width: 55% !important;
    margin: 2.5rem auto !important;
  }

}


/* || ABOUT page */
.about {
  font-size: 1rem;
}
.about .accordion {
  color: black;
  border-radius: 10px !important;
  box-shadow: -.75px .75px 2px 0px var(--purple);
}

.about .accordion-header button {
  font-size: .75em !important;
}

.about .accordion-button:focus,
.about .accordion-button:active {
  border-color: var(--gold);
  box-shadow: 0 0 0 0.25rem rgba(202, 153, 56, 0.25);
}

.about .accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.logo-about {
  width: auto;
  max-width: 40%;
  border-radius: 100%;
  border: .5px solid black;
  box-shadow: -.75px .75px 2px 0px black;
}

/*** alt ABOUT pg at end of game*********/
.aboutend {
  height: 100vh;
}

.aboutend div:only-child {
  margin: 10rem;
}

.aboutend button {
  font-size: 1.75rem;
  padding: 1rem;
}


/******LESSONS*****/
.lesson {
  font-size: 1rem;
}

.lesson p {
  text-align: left;
  width: 92%;
  margin: 0 auto;
}

.lesson figure {
  border-radius: 6px;
  padding: 1.2rem 1.2rem 1.5rem 1.2rem;
  /*border: .5px solid #5e5e5e;*/
  box-shadow: -.5px 1px 2px 0px #5e5e5ebd;

}

.lesson figcaption {
  color: #5e5e5e;

}

.lesson figure img {
  border-radius: 6px;
}


  /*responsive sizing for mascot-lessons page*/
.lesson .mascot-container img { /*xs*/
  position: relative;
  bottom: 19.5rem;
  right: 6.5rem;
  max-width: 40%;
}

@media screen and (min-width: 530px) {  /*btwn xs & sm*/
  .lesson .mascot-container img {
    bottom: 20.5rem;
    right: 10rem;
    max-width: 36%;
  }
}

@media screen and (min-width: 576px) {  /*sm*/
  .lesson .mascot-container img {
    bottom: 20.75rem;
    right: 10rem;
    max-width: 34%;
  }
}

@media screen and (min-width: 630px) {  /*btwn sm & md*/
  .lesson .mascot-container img {
    bottom: 30rem;
    right: 15rem;
    max-width: 30%;
  }
}

@media screen and (min-width: 768px) {  /*md*/
  .lesson .mascot-container img{
    bottom: 38rem;
    right: 15rem;
    max-width: 34%;
  }
  .lesson .speech-bubble {
    padding: 3em !important;
  }
}

@media screen and (min-width: 934px) {  /*btwn md & lg*/
  .lesson .mascot-container img{
    bottom: 38rem;
    right: 19rem;
    max-width: 30%;
  }
}

@media screen and (min-width: 992px) {  /*lg*/
  .lesson .mascot-container img {
    bottom: 45rem;
    right: 16rem;
    max-width: 35%;
  }
  .lesson.site-content {
    padding-top: 5rem !important;
  }
}

@media screen and (min-width: 1080px) {  /*btwn lg & xl*/
  .lesson .mascot-container img{
    bottom: 48rem;
    right: 20rem;
    max-width: 35%;
  }
}

@media screen and (min-width: 1400px) {  /*xxl*/
  .lesson .mascot-container img{
    bottom: 48rem;
    right: 25rem;
    max-width: 35%;
  }
}

/****TRIVIA****/
.trivia.site-content {
  padding-top: 0.5em;
}

.answers {
  font-size: 1.5rem !important;
  padding: .75em !important;
  margin: 15px;
  /*aspect-ratio: 1 / 1;*/
  border-radius: 10px !important;
  box-shadow: -.5px .5px 2px var(--purple);
}

.trivia-question-container {
  width: 85%;
  margin: 0 auto; 
}

.trivia-question-container img {
  border-radius: 10px;
}

/****CONTEMPORARY CULTURE SECTION*******/
.culture-today .main-guide-img {
  bottom: 10rem;
  left: -1rem;
}

.pot-img-ct {
  width: 100px !important;

  position: relative;
  bottom: 2rem;
  left: -5.5rem;
}

@media screen and (min-width: 320px) {  /*xs*/
  .culture-today .main-guide-img {
    bottom: 10rem;
    left: -.5rem;
  }
  .pot-img-ct {
    bottom: .5rem;
    left: -5.5rem;
  }
}

@media screen and (min-width: 430px) {  /*xs*/
  .pot-img-ct {
    width: 120px !important;

    bottom: -2rem;
    left: -5.5rem;
  }
}

@media screen and (min-width: 576px) {  /*sm*/
  .culture-today .main-guide-img {
    bottom: 14rem;
    left: 3rem;
  }
  .pot-img-ct {
    width: 130px !important;

    bottom: -1rem;
    left: -3rem;
  }
}

@media screen and (min-width: 768px) {  /*md*/
  .culture-today .main-guide-img {
    bottom: 14rem;
    left: 4rem;
  }
  .pot-img-ct {
    width: 130px !important;

    bottom: -4rem;
    left: -3rem;
  }
}

@media screen and (min-width: 992px) {  /*lg*/
  .pot-img-ct {
    width: 200px !important;

    bottom: -10rem;
    left: -3rem;
  }
}

@media screen and (min-width: 1200px) {  /*xl*/
  .pot-img-ct {
    width: 250px !important;

    bottom: -15rem;
    left: -3rem;
  }
}
/* =============== END ERIN'S SECTION ============================= */
