:root {
  /* SRJC colors */
  --srjc-blue: #182952;
  --srjc-red: #801518;
  --light-gray: #e6e7e8;

  /* GAME colors */
  --rust: #c24744;
  --rust-50: rgba(194, 68, 66, 0.5);
  --rust-25: rgba(211, 67, 65, 0.25);
  --rust-dark: #924140;
  
  --purple: #2e234a;
  --gold: #ca9938;
  --tan: #d9a86c;
  --teal: #4c9ba8;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Pangolin&display=swap");

/* NOTE: I am trying to to make the app always fill the vertical height  */

body {
  font-family: "Lato", sans-serif;
  font-family: "Pangolin", cursive;
  background-color: var(--srjc-blue);
}

h1,
h2,
h3,
h4 {
  font-family: "Pangolin", cursive;
}

#root {
  background-color: var(--srjc-blue);
  color: var(--light-gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 100vw !important;
  justify-content: space-between;
}

.site-content {
  flex: 1;
  min-width: 100vw !important;
  padding-top: 100px;
}

.logo {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
}

.footer {
  background-color: var(--srjc-red);
  border-top: white solid 4px;
  /*position: absolute;
  bottom: 0px;
  height: 100px;*/
  min-width: 100vw !important;
}

.navigation {
  background-color: var(--srjc-blue);
  color: var(--light-gray) !important;
}

#basic-nav-nav {
  position: absolute !important;
  z-index: 1;
}

.home {
  min-height: 100vh;
}

/* =============== LAUREN'S SECTION ============================= */

.answers {
  /* background-color: var(--rust) !important; */
  color: white;
  display: inline-block;
  padding: 30px;
  margin: 15px;
  aspect-ratio: 1 / 1;
  border-radius: 100% !important;
}

.game-background {
  max-width: 90vh;
}

.featherCard {
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* MATCHING CARD GAME CSS */

.bold {
  font-weight: 600;
  text-transform: uppercase;
}
.Matching {
  width: 100%;
  height: 100%;
}
.Matching header {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 8px;
}
.Matching header > div {
  font-size: 15px;
  width: 324px;
  text-align: center;
  margin: 0 auto;
}
.Matching footer {
  width: 360px;
  position: relative;
  margin: 0 auto;
  padding: 10px 4px;
  margin-top: 10px;
}
.Matching footer .score {
  justify-content: center;
  display: flex;
}
.Matching footer .score div {
  padding: 8px;
}
.Matching footer .restart {
  display: flex;
  justify-content: center;
}
.Matching .container {
  border: 1px solid #dedede;
  padding: 12px;
  box-shadow: 0 0 4px 4px #dedede;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: stretch;
  gap: 1rem;
  margin: 0 auto;
  width: 500px;
  height: 420px;
  perspective: 100%;
  max-width: 720px;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  /* box-shadow: 2px 2px 4px 4px #dedede; */
  transition: 0.3s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}
.card img {
  width: 95%;
  height: 95%;
}
.card .card-face {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.card .card-face.card-back-face {
  transform: rotateY(180deg);
}
.card.is-flipped {
  transform: rotateY(180deg);
}
.card.is-inactive {
  opacity: 0;
}
 
/* SW potttery game section  */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.drag-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  height: 400px;
  width: 400px;
  background-color: var(--gold);
  overflow-y: scroll;
}

.drop-board {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid black;
  height: 400px;
  width: 400px;
  background-image: url("assets/images/southwest/pottery/pot.png");
  background-size: cover; 
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: var(--teal);
}

/* .pot-design-row{
  margin: -400px 0 !important; 
} */

.pot-design-bank {
  background-color: var(--purple);
  overflow-x: scroll;
  padding: 4rem; 
}

/* GP Great plains feather game */

.feather-container {
  background-color: var(--gold);
  overflow-y: scroll;
  max-height: 1000px;
  padding: 30px;
}

/* =============== END LAUREN'S SECTION ============================= */

/* =============== ERIN'S SECTION ============================= */

/* || Utilities */
.bold-text {
  font-weight: bold !important;
}

/* || All pages */
  /*custom style BS BUTTONS*/
.btn-primary {
    color: #fff;
    background-color: var(--rust)!important;
    border-color: black !important;
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--rust-dark) !important;
  border-color: black !important;
}
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: var(--rust-dark) !important;
  border-color: black !important;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem var(--rust-50) !important;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: var(--rust);
  border-color: black !important;
  box-shadow: 0 0 0 0.25rem var(--rust-50) !important;
}
.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--rust-25);
}
  /* white text bubbles */
.speech-bubble {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.speech-bubble-md {
  border: 2px solid var(--purple);
  border-radius: 10px;
  padding: 2.5em !important;
  margin: 1em auto 1em auto;
}

.speech-bubble p,
.speech-bubble h2 {
  padding: 1em 0 1em 0;
}
.speech-bubble h1 {
  padding: 0 0 0.5em 0;
}

.big-round-GO-btn {
  padding: 2em;
}

/* || Overview Page */

.speech-bubble-md h1,
.speech-bubble-md h2 {
  padding-bottom: 1em;
}

/*image sizing for small screens*/
.speech-bubble-md .big-round-GO-btn img {
  width: 100%;
}

.speech-bubble-md .big-round-GO-btn {
  padding: 1em;
}

.mascot-container {
  padding: 0 2em 2em 3em;
}

.mascot-container img {
  width: 70%;
  position: relative;
  bottom: 13.5em;
}
/*image sizing for ipad */
@media screen and (min-width: 768px) {
  /*md*/
  .big-round-GO-btn img {
    width: initial;
  }

  .mascot-container img {
    width: initial;
    height: initial;
  }
}

/* || Instructions Page*/
.speech-bubble-fullscreen {
  padding: 4em 4em 4em 4em !important;
}

.speech-bubble-fullscreen {
  text-align: center;
}

.speech-bubble-fullscreen h1 {
  padding-bottom: 1em;
}
.speech-bubble-fullscreen p,
.speech-bubble-fullscreen h2 {
  text-align: left !important;
}

.speech-bubble-fullscreen h2 {
  padding-top: 2.5em;
}

.speech-bubble-fullscreen img {
  padding: 1.5em;
}

.speech-bubble-fullscreen div div .big-round-GO-btn {
  margin: 0 !important;
  padding: 0 !important;
}

.speech-bubble-fullscreen div div .big-round-GO-btn img {
  margin: 0 !important;
  padding: 2.5em 0 0 0 !important;
}

/* || MODALS - Instructions & Try Again */
.custom-modal {
  max-width: 65% !important;
  margin-top: 8vh !important;
}

/*bs-react class*/
.modal-content {
  padding: 2em !important;
}

  /*instructions modal*/
.modal-img-mascot-instructions {
  display: block;
  padding-top: 3.5em;
}

  /*your done modal*/

.modal-urdone .modal-content {
  padding: 4em !important;
}


.mascot-urdone {
  padding: 6em 0;
  text-align: center;
  margin: 0 auto 0 auto;
}

/* || ABOUT page */
.about-page .accordion {
  color: black;
}

.about-page .accordion-button:focus,
.about-page .accordion-button:active {
  border-color: var(--gold);
  box-shadow: 0 0 0 0.25rem rgba(202, 153, 56, 0.25);
}

.about-page .accordion-button:not(.collapsed) {
  color: black;
  background-color: white;
}

.logo-about {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
}

/* =============== END ERIN'S SECTION ============================= */
